name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Install Rust components
      run: |
        rustup component add rust-src llvm-tools-preview --toolchain nightly
        rustup target add x86_64-unknown-none --toolchain nightly
    - name: Build
      run: make build
    - name: Run tests
      run: make test
